node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.WebAnnotationEngine/.svelte-kit

# Review and reference videos
WebAnnotationEngine/static/ReviewVideos/
WebAnnotationEngine/static/ReferenceVideos/

# Config files
WebAnnotationEngine/src/routes/config/videoConfig.json
WebAnnotationEngine/src/routes/config/sign_list.txt
